body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#animation-container {
  position: relative;
  height: 100%;
}
#animation {
  display: block;
  width: 100%;
  background-color: red;
  position: absolute;
  overflow: hidden;
}
